<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Tweets</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <h2 class="title">Live Tweets of Hurricane Irma</h2>
    <h3 class="title">By <a href="https://twitter.com/weskerfoot">@weskerfoot</a></h3>
    <div id="root"></div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
