/* This file is for your main application css. */

$fa-font-path: "../fonts";
@import "font-awesome";
@import "spectre";

.title {
  text-align: center !important;
}

.tweets {
  max-width: 95%;
}

.tweet {
	font-family: 'Open Sans',sans-serif !important;
	line-height: 1.6em !important;
}
